<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IBattleService" maxBufferPoolSize="2147483647"
     maxReceivedMessageSize="2147483647">
     <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
    </binding>
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:8733/Design_Time_Addresses/SamuraiApp.Service/BattleService/"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBattleService"
    contract="BattleServiceRef.IBattleService" name="BasicHttpBinding_IBattleService" />
  </client>
	</system.serviceModel>
</configuration>